@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  font-weight: lighter;
}

/*------global------*/
body {
  font-family: "Lato", "ariel", sans-serif;
}

/*------header------*/
header {
  background-image: url(./images/asset4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  /*----nav-------*/
  /*-------section-------*/
}

header .bg-color {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

header img {
  width: 30%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 1;
  position: relative;
  padding-top: 25px;
  height: 300px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 55px;
  position: relative;
  cursor: pointer;
}

header li::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #e67e22;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header li:hover:before {
  opacity: 1;
}

header .header-section {
  z-index: 1;
  position: relative;
  padding-left: 150px;
}

header a {
  font: 20px "lato", "ariel", sans-serif;
  border-radius: 200px;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
}

header .button1 {
  background-color: #e67e22;
  color: white;
  border: #e67e22;
  border-style: solid;
}

header .button2 {
  color: #e67e22;
  background-color: transparent;
  border: #e67e22;
  border-style: solid;
}

header .button1:hover {
  background-color: #dd761b;
}

header .button2:hover {
  background-color: #e67e22;
  color: white;
}

header h1 {
  font-size: 300%;
  margin-bottom: 40px;
}

/*-------partie2 show me more-----------*/
.gffnff {
  color: grey;
  margin-bottom: 50px;
  text-align: center;
  padding: 70px 15px 120px 15px;
  height: 150px;
  width: 100%;
}

.gffnff .gffnffp {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
}

.gffnff .gffnfftitle {
  margin-bottom: 50px;
  font-size: 36px;
  letter-spacing: 1px;
}

.container-txtpart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 60px;
  padding-top: 40px;
  margin: 10 0 10 17;
  color: grey;
}

.txtpart2 {
  margin-bottom: 30px;
}

.infinite {
  color: #e67e22;
  font-size: 55px;
  margin-bottom: 10px;
}

.package {
  color: #e67e22;
  font-size: 55px;
  margin-bottom: 10px;
}

.carrot {
  color: #e67e22;
  font-size: 55px;
  margin-bottom: 10px;
}

.caddy {
  color: #e67e22;
  font-size: 55px;
  margin-bottom: 10px;
}

.divpart2 {
  font: 20px;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 11px;
}

/*-----------------8 images--------------*/
.img8 .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img8 .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img8 .contain-img {
  position: relative;
  width: calc(100% / 4);
  overflow: hidden;
}

.img8 .contain-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img8 .contain-img img {
  width: 100%;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img8 .contain-img:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.img8 .contain-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------how it works hiw-------*/
.howitworks {
  padding: 80px 70px;
  background-color: rgba(128, 128, 128, 0.164);
}

.howitworks .hiwtd {
  margin: 0px 70px;
}

.howitworks .hiwt {
  text-align: center;
  color: #3b3b3b;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  height: 60px;
  position: relative;
}

.howitworks .hiwt::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #e67e22;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.howitworks .imgettxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.iphonediv img {
  width: 200px;
}

.iphonediv {
  width: 565px;
  text-align: right;
  padding-right: 35px;
  margin-top: 30px;
}

.hiwinspi {
  text-align: center;
  width: 550px;
  height: 360px;
  margin: 70px 0px 12px 19px;
  padding-left: 35px;
}

.hiwtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.hiwtxt p {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.number {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 51px;
  width: 57px;
  text-align: center;
  font-size: 150%;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hiwitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hiwitem img {
  width: 160px;
  height: 50px;
  margin-right: 10px;
}

/*-----------ville-------*/
.villesection {
  font-weight: lighter;
  padding: 80px 0px;
}

.villesection .hiwt {
  text-align: center;
  color: #3b3b3b;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  height: 60px;
  position: relative;
}

.villesection .hiwt::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #e67e22;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.villesection .villediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0px 50px;
}
.villediv h3 {
  margin-bottom: 20px;
  font-size: 23px;
  color: #706f6f;
}
.villesection .villediv img {
  width: 250px;
  height: 160px;
}

.villesection .icon {
  color: #e67e22;
  width: 12%;
  text-align: center;
  font-size: 150%;
}
.icondiv {
  margin: 10px 0px;
  font: lighter;
  color: #706f6f;
}
.avissection {
  padding: 0px 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/assets20.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 80px 30px;

  color: antiquewhite;
}
.aviscontainer {
  display: flex;
  margin: 20px;
}
.avistxt {
  font-size: 20px;
}
.avisdiv {
  padding: 10px;
}
.avistitle {
  text-align: center;
  margin: 50px 0px;
  font-size: 40px;
  position: relative;
}

.avistitle::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #e67e22;
  width: 10%;
  top: 70px;
  left: 45%;
}
.avisportrait {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.avisportrait img {
  border-radius: 50%;
  width: 50px;
}
